<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | LAST RESORT</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <script src="https://kit.fontawesome.com/f95bd4b1c8.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- START Nav bar section -->
    <nav>
        <div class="logo">
            <p><span class="last-logo white">LAST</span><br><span class="resort-logo yellow">RESORT</p></span>
        </div>
        <ul>
            <li id="edit-profile-icon"><a href="#">Homepage</i></a></li>
            <li><a href="#">Profile</i></a></li>
            <li><a href="#">Favorites</i></a></li>
            <li><a href="#">Messages</i></a></li>
            <li><a href="#" id="logout"><i class="fa-solid fa-sign-out"></i></a></li>
        </ul>
        <div class="menu">
        </div>
    </nav>
    <!-- END Nav bar section -->
    <div class="hero-pic">
    </div>
    <div class="page-title">
        <h1>FIND YOUR POTENTIAL PARTNER</h1>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>