<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | LAST RESORT</title>
    <link rel="stylesheet" href="../styles/styles.css" />
</head>

<body>
    <div class="container-signup">

        <div class="container-left margin-top">
            <div class="logo">
                <p>LAST<br>RESORT</p>
            </div>

            <h1 class="signup-title">LOGIN</h1>
            <p class="success-message hide">Success Message</p>
            <p class="error-message hide">Error Message</p>

            <form action="" class="signup-form" id="client">
                <div class="input-container">
                    <label for="name" class="label">Username</label>
                    <input type="text" name="name" class="input" id="name" placeholder="Enter your username">
                </div>
                <p class="input-message hide" id="input-username">Message wrong username</p>

                <div class="input-container">
                    <label for="password" class="label">Password</label>
                    <input type="password" name="password" class="input" id="password"
                        placeholder="Enter your password">
                </div>
                <p class="input-message hide" id="input-password">Message wrong pass</p>
                <div class="login-actions">
                    <div class="account-handle">
                        <a href="./index.html">Don't have an account?</a>
                    </div>

                    <button class="btn-submit">Login</button>

                </div>

                <div class="right-picture"></div>
                
        </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>