/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* SIGN UP and SIGN IN */
.container-signup {
    width: 100%;
    height: fit-content;
    display: flex;
}

.right-picture {
    width: 40%;
    height: 100vh;
    background-image: url("../assets/right-pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    right: 0;
    top: 0;
}

.container-left {
    width: 60%;
    height: 100%;
    padding-bottom: 15px;

}

.error-message,
.success-message {
    font-size: 12px;
    margin-bottom: 10px;
}

.error-message {
    color: #cd0909;
}

.success-message {
    color: #0ae167;
}

.hide {
    display: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.signup-form {
    margin-right: 10%;
    margin-left: 10%;
}

.input-container input,
.input-container select,
.btn-submit {
    height: 40px;
    border-radius: 5px;
    width: 100%;
}

.input-container input {
    padding-left: 5px;
}

.btn-submit {
    background-color: #829880;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.signup-title {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    color: #3E230E;
    font-weight: 900;
    font-size: 50px;
}

.margin-top {
    margin-top: 10%;
}

.error-div,
.error-div-login {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 8px;
    background-color: rgb(214, 108, 108);
    border-radius: 5px;
    height: fit-content;
}

.error-div-login {
    margin-right: 0;
    margin-left: 0;
}

.last-logo,
.resort-logo {
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 10px;
}

.resort-logo {
    margin-top: 0;
}

.green {
    color: #8B998A;
}

.yellow {
    color: #F2CB70;
}

.logo-login {
    position: absolute;
}

.input-container label {
    font-weight: bolder;
    color: #434e42;
}

/* Homepage Section */

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 20;
    background-color: #6C785E;
    padding-right: 40px;
    top: 0;
}


i {
    color: white;
    cursor: pointer;
}

nav .logo {
    flex: 1;
    margin-left: 50px;
    margin-right: 10px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px 15px;
    font-size: 20px;
}

nav ul li a:hover,
i:hover {
    color: #EBBF5A;
}

.white {
    color: white;
}

.hero-pic {
    width: 100%;
    height: 280px;
    margin-top: 80px;
    background-image: url("../assets/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page-title {
    color: #6C785E;
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
}

/* Profiles section */
.user_cards_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.user_cards_container h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.user_cards_container p {
    text-align: center;
    color: gray;
    padding-top: 0 8px;
}

.user_cards_container h8 {
    font-size: 15px;
    text-align: center;
    margin: 0;
    color:#434e42;
    font-weight: 600;
}


.card img {
    width: 50%;
    height: 80%;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.card {
    width: 15%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
}

.card .user_loction {
    padding: 4px;
}

.card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    transform: translate(0px, -8px);
}

.age_and_heart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.user_location{
    color:#F2CB70 !important;
}


/* Edit profile Modal */
.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: white;
    width: 35%;
    height: 50%;
    display: flex;
    border-radius: 20px;
}

.modal-close {
    cursor: pointer;
    margin-left: 10px;
    font-size: 28px;
}

.modal-close:hover {
    opacity: 0.4;
}

.input-fields {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.input-fields input {
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
}

.input-fields label {
    font-size: 20px;
    font-weight: 500;
    color: #6C785E;
    margin-top: 15px;
}

.input-fields button {
    height: 17%;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background-color: #6C785E;
    border: none;
    cursor: pointer;
}

.delete-btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background-color: #323246;
}

.picture-modal img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 100px;
}

.edit-bio {
    height: 100px;
    padding-left: 10px;
}

.fa-image {
    color: #6C785E;
    width: 30px;
    height: 30px;
}

#upload-pp{
    display: none;

}

.icon-img{
    position: fixed;
    position: relative;
}

/* Single user page */
.user_card{
    width: 60%;
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin: 0 auto;
    margin-top: 1%;
}
.single_user_actions {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    /* margin-top: 20%; */
}
.single_user_actions i{
    color: #6C785E ;
    font-size: 40px;
}

.single_user_info p{
    font-size: 40px;
    font-weight: 700;
}

.single_user_info{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

/* Messages page */
.msgs-container{
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    text-align: center;
    padding:20px;
    background-color:rgba(143, 160, 137,0.24);
}
.msgs-container h1{
    margin-bottom: 10px;
    color:#6C785E;

}

.message{
    border: none;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height:40px;
    padding: 20px;
    background-color: #FAF9F9;
    align-items: center;

}

/* Send message modal */
.msg-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modall {
    background-color: white;
    width: 35%;
    height: fit-content;
    display: flex;
    border-radius: 20px;
}

.modall-close {
    cursor: pointer;
    margin-left: 10px;
    font-size: 28px;
}

.modall-close:hover {
    opacity: 0.4;
}

.input-fields-msg {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5%;
}

.input-fields-msg input {
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
}

.input-fields-msg label {
    font-size: 20px;
    font-weight: 500;
    color: #6C785E;
    margin-top: 15px;
}
.msg-input{
    display: flex;
    flex-direction: column;
    width:90%;
    height: fit-content;
}

.send-icon{
    width:55px;
    height: 55px;
    margin-top: 30px;
}
